/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* indicator for private window on Australis */
#main-window[privatebrowsingmode=temporary]
  #TabsToolbar::before {
	content: none;
}
#main-window[privatebrowsingmode=temporary]
  #nav-bar::after {
	display: -moz-box;
	content: "";
	background: url("chrome://browser/skin/privatebrowsing-mask.png") center no-repeat;
	width: 30px;
}

/* The fullscreen toggler can be covered by the tabbar by
   https://dxr.mozilla.org/mozilla-central/rev/14c5bf11d37b9e92d27f7089d9392de2ac339bb3/browser/themes/linux/browser.css#1522
   so we have to cancel it. */
#main-window[inFullscreen] #TabsToolbar {
	margin-bottom: 0 !important;
}
