/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@media (-moz-windows-compositor) {

/**
 * Apply "tabs on bottom" appearance on Australis.
 */
#main-window
  #browser-panel
  > #navigator-toolbox
  > #nav-bar:not(:-moz-lwtheme):not(:-moz-window-inactive),
#main-window
  #browser-panel
  > #navigator-toolbox
  > #nav-bar:not(:-moz-lwtheme):-moz-window-inactive {
	background: transparent;
	border-top: none !important;
	border-left: none;
	border-right: none;
	box-shadow: none;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	-moz-binding: url("chrome://browser/content/customizableui/toolbar.xml#toolbar-drag");
}
#main-window:not([sizemode="fullscreen"])
  #browser-panel
  > #navigator-toolbox
  > #nav-bar:not(:-moz-lwtheme):not(:-moz-window-inactive),
#main-window:not([sizemode="fullscreen"])
  #browser-panel
  > #navigator-toolbox
  > #nav-bar:not(:-moz-lwtheme):-moz-window-inactive {
	position: relative;
	margin-top: -5px;
}

}


/* indicator for private window on Australis */
#main-window[privatebrowsingmode="temporary"]
  #TabsToolbar::after {
	content: none;
}
#main-window[privatebrowsingmode=temporary]
  #nav-bar::after {
	display: -moz-box;
	content: "";
	background: url("chrome://browser/skin/privatebrowsing-indicator.png") center no-repeat;
	width: 30px;
}


/* The fullscreen toggler can be covered by the tabbar by
   https://dxr.mozilla.org/mozilla-central/rev/14c5bf11d37b9e92d27f7089d9392de2ac339bb3/browser/themes/windows/browser.css#1940
   so we have to cancel it. */
#main-window[inFullscreen] #TabsToolbar {
	margin-bottom: 0 !important;
}
